<form method= "Post" action="/import/recipe">
  <label for="query">What would you like to look for?</label>
  <br>
  <input type="text" id="query" name="query" placeholder="e.g. Cheese Cake">
  <input type="submit">
</form>