<form method= "Post" action="/recipes">
  <label for="name">Name:</label>
  <br>
  <input type="text" id="name" name="name" placeholder="e.g. Cheese Cake">
  <br>
  <label for="description">Description:</label>
  <br>
  <input type="text" id="description" name="description" placeholder="e.g. A declicious cheese cake">
  <br>
  <label for="rating">Rating:</label>
  <br>
  <input type="text" id="rating" name="rating" placeholder="e.g. 4.5">
  <br>
  <label for="prep_time">Preperation Time:</label>
  <br>
  <input type="text" id="prep_time" name="prep_time" placeholder="e.g. 30 min">
  <br>
  <br>
  <input type="submit" placeholder="Submit">
</form>
